{% extends "_layouts/default" %}

{% block content %}
  <header class="container mx-auto pt-12 pb-6 px-2 text-2xl">
    
    <h1 class="font-bold text-4xl sm:text-6xl lg:text-9xl">{{ entry.title }}</h1>
    {{ entry.pageSubheading|md }}
    {% if entry.section.handle == 'article' %}
    <div class="text-xs mt-4">
      {% set category = entry.category.eagerly().one() %}
      <p>{% if category %}<span class="font-bold">{{ category.title }}</span> | {% endif %}<time datetime="{{ entry.postDate|atom }}">{{ entry.postDate|date }}</time></p>
      <p class="text-xs">By {{ entry.author.fullName }}</p>
    </div>
    {% endif %}
  </header>
  <section class="page__content">
    <div class="container mx-auto py-12 px-2 text-balance">
      {{ entry.pageContent }}
    </div>
    {% block landing %}{% endblock %}
  </section>
{% endblock %}
