{% set global = craft.entries.section('global').one() %}
{% set flashes = craft.app.session.getAllFlashes(true) %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta charset="utf-8" />
  <title>{% if flashes|length %}{% for level, flash in flashes %}{{ flash }} - {% endfor %}{% endif %}{{ entry.title }}{% block title %}{% endblock %} | {{ siteName }}</title>
  <meta name="referrer" content="origin-when-cross-origin" />

  {# Include Tailwind Play CDN for basic styling #}
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="light-mode">
  <a href="#main" class="transition left-0 absolute p-3 m-3 -translate-y-16 focus:translate-y-0 bg-slate-50">Skip to main content</a>
  
  {% include "_partials/header" %}
  
  {% if flashes|length %}
    <div class="bg-red-600 text-slate-50 text-center">
    {% for level, flash in flashes %}
      <p class="{{ level }} container mx-auto p-2 text-md">{{ flash }}</p>
    {% endfor %}
    </div>
  {% endif %}

  <main class="page {{ entry.slug }}" id="main" tabindex="-1">
    {% block content %}{% endblock %}
  </main>

  {% include "_partials/footer" %}

</body>
</html>
